h1.title-list {
    border-bottom: 2px solid #000;
}

span.empty-list {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18pt;
    font-weight: bold;
}

button.btn-new-vehicle {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

button.btn-new-vehicle span {
    margin-left: 10px;
}

.vehicle-list {
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
    gap: 5px;
}

.loader-container {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
