.container {
  margin: 4rem 8rem;
}

.btn {
  padding: 7px 15px;
  border: none;
  border-radius: 3px;
  background-color: #004ef7;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
}

.btn:hover {
  background-color: #0039b4;
  transition: .3s;
}